table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  thead th {
    padding: 5px 10px;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
  }
  tbody td {
    padding: 10px 10px;
    width: 100px;
  }
}